<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <!-- see the ReadMe.md file in the application's root directory for instructions on how to use these app settings -->
    
    <!-- Logging -->
    <add key="LogLevel" value="Debug"/>
    <add key="LogDirectoryPath" value="C:\Temp\Logs\RegistryEnforcer"/>
    <add key="LogArchiveDays" value="30"/>

    <!-- Preferences -->
    <add key="AutoStart" value="true"/>
    
    <!-- Registry Settings - App Associations - Google Chrome -->
    <add key="RegistrySetting_ChromeHTTP_Hash"    value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoice\Hash|REG_SZ|LhltQQeR8z0="/>
    <add key="RegistrySetting_ChromeHTTP_ProgId"  value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoice\ProgId|REG_SZ|ChromeHTML"/>
    <add key="RegistrySetting_ChromeHTTPS_Hash"   value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoice\Hash|REG_SZ|M4sv6mP8J/8="/>
    <add key="RegistrySetting_ChromeHTTPS_ProgId" value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoice\ProgId|REG_SZ|ChromeHTML"/>

    <!-- Registry Settings - App Associations - Firefox -->
    <!--
    <add key="RegistrySetting_ChromeHTTP_Hash" value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoice\Hash|REG_SZ|59E4TDOS5jY="/>
    <add key="RegistrySetting_ChromeHTTP_ProgId" value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoice\ProgId|REG_SZ|FirefoxURL"/>
    <add key="RegistrySetting_ChromeHTTPS_Hash" value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoice\Hash|REG_SZ|NrvQ3+dP5Pk="/>
    <add key="RegistrySetting_ChromeHTTPS_ProgId" value="HKCU\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoice\ProgId|REG_SZ|FirefoxURL"/>
    -->
    
  </appSettings>
</configuration>